@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat+Alternates:ital,wght@1,100&family=Space+Mono:ital@1&display=swap');

.header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.header-logo {
  height: 27px;
  max-width: 150px;
  margin-right: 24px;
}

.header-right {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.header-location-search-container {
  box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
  height: 54px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  width: 70%;
  border: 1px solid rgb(232, 232, 232);
}

.location-search-separator {
  height: 20px;
  border: 0.5px solid rgb(207, 207, 207);
}

.location-wrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0px 10px;
}

.location-icon-name {
  display: flex;
  color: var(--zomato-gray);
}

.location-icon {
  margin-right: 8px;
  font-size: 20px;
  color: #d92662;
}

.header-searchBar {
  display: flex;
  flex: 2;
}

.search-icon {
  font-size: 20px;
  color: #828282;
  margin: 0px 12px;
}

.search-input {
  border: none;
  width: 60%;
  font-size: 14px;
  outline: none;
}
.profile-wrapper {
  display: flex;
  justify-content: space-between;
  width: 15%;
  align-items: center;
}

.header-profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.header-username {
  font-size: 16px;
  font-weight: 600;
}

.profile-options-icon {
  font-size: 20px;
}

.max-width {
  max-width: 1100px;
  margin: 0px auto;
}

.pg-search-bar{
    width: 500;
    margin: 20px auto;
}
.cityname{
  color: blue;
}
.smallimg{
  height:200px;
  width:100% !important;
  border-radius:5px !important;
}
div h1{
  font-size:20px !important;
}
btn{
  background-color: blue !important;
  color:white !important;
  box-shadow: non !important;
}
bs{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top:20px !important;
  border-radius: 5px !important;
  padding: 20px !important;

}